@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(1200px 600px at 30% 10%, rgba(59,130,246,0.18), transparent 60%),
              radial-gradient(900px 500px at 80% 20%, rgba(14,165,233,0.12), transparent 55%),
              rgb(10, 18, 40);
}